pipeline/pipeline_importData_control.json
{
	"name": "pipeline_importData_control",
	"properties": {
		"activities": [
			{
				"name": "Lookup Staging Row Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[SalesLT].[usp_GetRowCountProductStaging]"
					},
					"dataset": {
						"referenceName": "ProductStaging",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Action on Staging Row Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Staging Row Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup Staging Row Count').output.firstRow.RowCount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Import Data on False",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Truncate Staging Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline_ImportData",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Truncate Staging Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[SalesLT].[usp_TruncateProductStaging]"
							},
							"linkedServiceName": {
								"referenceName": "SqlServer01_AdventureWorksLT",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Import Data on True",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline_ImportData",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "adfarya@outlook.com"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}